body {
	background-image: url(background.jpg);
}
table {
	font-family: verdana;
	border-collapse: collapse;
	width: 50%;
}
th,td {
	border: 1px solid black;
	text-align: left;
	padding: 5px;
}
tr:nth-child(odd) {
	background-color: #ffebcd
}
div > p {
	font-family: verdana;
	text-align: justify;
	width: 50%;
	margin: 15px 200px 15px 200px;
}
h1 {
	position: sticky;
	font-family: georgia;
	color: #b0c4de;
	background-color: #ffebcd;
	text-align: center;
}
h2 {
	position: center;
	font-family: copperplate;
	color: #ffa07a;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}
.sticky {
	text-align: center;
	position: sticky;
	top: 0;
	background-color: #ffebcd
}
